body {
    background: lightblue;
}
ul,body{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    max-width: 1200px;
    background: beige;
    margin: 20px auto;
    padding: 15px;
    align-items: center;
}
header img{
    margin: 0 15px 0 0;
}

@media (max-width: 720px){
    header{ 
        flex-direction: column;
    }
    header nav ul{
        flex-direction: column;
    }
    header img{
        margin: 0 0 15px 0;
    }
}

header img{
    width: 200px;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;

}
#menu-nav li{
    list-style: none;
}
#menu-nav li a{
    color: green;
    text-decoration: none;
    margin: 5px;
    padding: 8px;
    border: 1px solid;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}
#menu-nav li a:hover{
    background: royalblue;
    color: white;
}